#commit h2 {
    color: blue;
    background-color: rgb(205, 92, 92);

}

h1,
h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: red underline;
    letter-spacing: 15px;
    font-size: extra xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    color: purple;
}

. ing {
    background-color: yellow;
}

#submit {
    color: brown;
    background-color: blue;
}

button {
    color: red;
    background-color: pink;

}

p {
    color: #000;
    (black color in hexa decimal)
}

body {
    background-color: #8ecae6;
}

/* Make all LI's blue */

/* Make everything with the class of 'done' grey*/

/* Make the element with the id of 'clear' have a red BG and white text */
li {
    color: blue;
}

.done {
    color: grey;
}
/* for class use .id-name*/

#clear {
    color: white;
    background-color: red;
/* for id use #id-name */

}

.clear {
    color: rgb(0, 0, 0);
    background-color: rgb(192, 192, 192);
}